{% if autoupdate_reboot %}
Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "03:00";
{% else %}
Unattended-Upgrade::Automatic-Reboot "false";
{% endif %}

{% if autoupdate_mail %}
Unattended-Upgrade::Mail "{{ autoupdate_mail }}";
{% if autoupdate_mail_only_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}
{% endif %}

Unattended-Upgrade::Allowed-Origins {
        "${distro_id} ${distro_codename}-security";
{% if autoupdate_non_security %}
         "${distro_id} ${distro_codename}-updates";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist{
{% for blitem in autoupdate_blacklist %}
      "{{blitem}}";
{% endfor %}
}
